# Minilla
/UR-*
/.build
!META.json

# Carton
/local/
/cpanfile.snapshot

lib/UR/DataSource/Meta.sqlite3
t/URT/DataSource/Meta.sqlite3
t/Vending/DataSource/Machine.sqlite3
t/Vending/DataSource/Meta.sqlite3
t/alternate_namespace_layout/data_source/URTAlternate/DataSource/Meta.sqlite3
t/alternate_namespace_layout/data_source/URTAlternate/DataSource/TheDB.sqlite3
