[access]
	inheritFrom = Optional Review
[project]
[submit]
	action = rebase if necessary
[receive]
[access "refs/heads/stable"]
	forgeAuthor = group Non-Interactive Users
	forgeCommitter = group Non-Interactive Users
	push = group Non-Interactive Users
	pushMerge = group Non-Interactive Users
	pushTag = group Non-Interactive Users
	pushSignedTag = group Non-Interactive Users
	create = group Non-Interactive Users
[access "refs/heads/tested"]
	create = group Non-Interactive Users
	forgeAuthor = group Non-Interactive Users
	forgeCommitter = group Non-Interactive Users
	push = group Non-Interactive Users
	pushMerge = group Non-Interactive Users
	pushTag = group Non-Interactive Users
	pushSignedTag = group Non-Interactive Users
